* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overskrift {
  font-size: 7rem;
  font-family: "Kalnia", serif;
  text-align: center;
  margin-top: 1rem;
  z-index: 2;
  top: 54%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #352822;
}

.h2_overskrift {
  font-size: 2rem;
  font-family: "Kalnia", serif;
  text-align: center;
  margin-top: 1rem;
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -50%);
  color: #352822;
}

.copy {
  font-family: "Roboto", sans-serif;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  word-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
}

.h3 {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-top: 2.7rem;
  text-align: center;
}
.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 2px;
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 4rem;
  margin-bottom: 3.5rem;
}
.billede_1 {
  z-index: 2;
}

.liste {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: -5rem;
  margin-right: -2rem;
  margin-bottom: 7rem;
  word-spacing: 1px;
  text-align: center;
  line-height: 3.5;
  text-transform: uppercase;
}

@media (max-width: 758px) {
  .overskrift {
    font-size: 2.2rem;
    top: 27%;
  }
  .h2_overskrift {
    font-size: 0.7rem;
    top: 31%;
  }
  .h3 {
    font-size: 0.8rem;
  }
  .copy {
    font-size: 0.8rem;
    text-align: left;
    margin-right: 3rem;
    margin-left: 5rem;
  }

  .grid_1 {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
    margin-left: 5rem;
    font-size: 0.8rem;
  }
}
/************* footer ************/

footer {
  background-color: #d5c7ab;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer_logo {
  width: 30%;
  margin-left: 4rem;
}

h3 {
  font-family: Sen;
  font-size: 1rem;
  padding-left: 10%;
}

ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}
