* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overskrift {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

.h2_overskrift {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}
