/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Generelt design *********************/

body {
  background-color: #c6c6c6;
}

h1 {
  font-family: Sen;
  text-transform: uppercase;
}

h2 {
  font-family: San;
  text-transform: uppercase;
}

p {
  font-family: Roboto;
}
