html {
  background-color: #eee8db;
}

header {
  background-color: #eee8db;
}

/************* om os ************/

.om_os_h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

/************* hvem er vi ************/

.hvem_er_vi {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.beskrivende_tekst {
  font-family: "Roboto", sans-serif;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  word-spacing: 1px;
  text-align: left;
  margin-bottom: 3rem;
}

/************* ansatte ************/

.grid_1-1-1 {
  display: grid;
  gap: 30px;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.Torben,
.Carsten,
.Martin {
  margin-top: 1rem;
  font-weight: bold;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col > :last-child {
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

a:hover {
  color: #7b4e35;
}

.tekst1 {
  margin-bottom: 1rem;
}

.tekst2 {
  margin-bottom: 1rem;
}

p {
  line-height: 1.5;
}

/************* footer ************/

footer {
  background-color: #d5c7ab;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (max-width: 800px) {
  .grid_footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid_footer > div {
    margin-top: 20px;
    margin-left: 1rem;
  }
}

.footer_logo {
  width: 50%;
  margin-left: 6rem;
}

h3 {
  font-family: Sen;
  font-size: 0.6rem;
  padding-left: 20%;
}

/******** uddrag af kunder ********/

.uddrag_kunder {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  background-color: #e8dec8;
  margin-right: 3rem;
  margin-left: 3rem;
  border: 5px solid #d5ccb7;
}

.kunder_liste {
  margin-top: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.værksted_2 {
  margin-top: 20px;
}

/************* nede er computer ************/

@media screen and (min-width: 700px) {
  .om_os_h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  /************* hvem er vi ************/

  .hvem_er_vi {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  .beskrivende_tekst {
    font-family: "Roboto", sans-serif;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;
    word-spacing: 1px;
    text-align: left;
  }

  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /************* ansatte ************/

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }

  .Torben,
  .Carsten,
  .Martin {
    margin-top: 1rem;
    font-weight: bold;
  }

  .flex_col {
    display: flex;
    flex-direction: column;
  }

  .flex_col > :last-child {
    margin-top: 1rem;
  }

  ul {
    list-style-type: none;
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }

  a:hover {
    color: #7b4e35;
  }

  .tekst1 {
    margin-bottom: 1rem;
  }

  .tekst2 {
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.5;
  }

  /************* footer ************/

  footer {
    background-color: #d5c7ab;

    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .grid_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer_logo {
    width: 60%;
    margin-left: 4rem;
  }

  h3 {
    font-family: Sen;
    font-size: 1rem;
    padding-left: 10%;
  }

  /******** uddrag af kunder ********/

  .uddrag_kunder {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    background-color: #e8dec8;
    margin-right: 4rem;
    border: 5px solid #d5ccb7;
  }

  .kunder_liste {
    margin-top: 1rem;
    line-height: 1.5;
  }

  /************* video ************/

  .video {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
