html {
  background-color: white;
}

header {
  background-color: white;
}

.systemer {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
}

.glassystemer,
.vægsystemer {
  margin-top: 3rem;
  font-weight: bold;
  text-align: center;
}

.glas_liste {
  list-style: inside;
  font-family: unset;
}

.li text {
  margin-left: 40px;
}
.tekstvæg {
  list-style: inside;
  font-family: unset;
}

.stortekst {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
  margin-left: 5rem;
}

.tekst {
  grid-column: 2;
  padding-inline: 15% 27%;
  line-height: 3.7rem;
}
.img {
  grid-column: 1;
}
.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col > :last-child {
  margin-top: 1rem;
  line-height: 1.3rem;
}

ul {
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #d5c7ab;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid_footer > ul {
  list-style: none;
}

.footer_logo {
  width: 30%;
  margin-left: 4rem;
}

h3 {
  font-family: Sen;
  font-size: 1rem;
  padding-left: 10%;
}

/* .glas_liste {
  text-decoration: 
} */

/*** Kontaktformular ***/
form {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  background-color: #eee8db;
  border-radius: 8px;
}

.form-felt {
  display: grid;
  gap: 3px;
}

body {
  justify-content: center;
  align-items: center;
}

label,
textarea,
input {
  font-family: Roboto;
}
.checkbox-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkbox-item {
  display: inline-block;
  margin: 10px;
}

.checkbox-label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-image {
  display: inline;
  max-width: 50%;
  height: auto;
  vertical-align: middle;
}

textarea {
  width: 100%;
}

button {
  background-color: #e7ca93;
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: #c5ad81;
}

@media only screen and (max-width: 800px) {
  .grid_footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid_footer > div {
    margin-top: 20px;
    margin-left: 1rem;
  }
}
